.header {
    background-color: #1e1926;
  }
  
  .section-title {
    background-color: #1e1926 !important;
  }
  
  .newsletter .btn-subscribe {
    background-color: #fbbc2b;
    border-color: #fbbc2b;
  }
  
  .footer-dark {
    background-color: #1e1926;
  }
  
  .sticky-header.fixed {
    background-color: #1e1926;
  }
  
  footer .widget-list li a {
    color: white;
  }
  
  .widget-about p:last-of-type {
    color: white;
  }
  
  .header-bottom .header-left {
    display: none;
  }
  
  .header-bottom .container {
    justify-content: center;
  }
  
  .header-bottom .header-right {
    margin-left: 0 !important;
  }
  
  .section-title .title {
    color: white;
  }
  
  .section-title .link {
    color: white;
  }
  
  #scroll-top {
    background-color: #1e1926;
  }
  
  footer .social-icon {
    color: white !important;
  }
  
  .footer-dark .social-icon:hover,
  .footer-dark .social-icon:focus {
    color: #b07a09 !important;
  }
  
  .featured-back .nav.nav-pills .nav-item.show .nav-link.active,
  .featured-back .nav.nav-pills .nav-item .nav-link.active {
    color: #fff;
  }
  
  .featured-back .nav.nav-pills .nav-item.show .nav-link::before,
  .featured-back .nav.nav-pills .nav-item .nav-link::before {
    background-color: #1e1926;
  }
  
  .nav.nav-border-anim .nav-link {
    color: white;
  }
  
  .cart-dropdown .cart-count {
    color: white;
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
  
  .wishlist-link .wishlist-count {
    color: white;
    position: absolute;
    right: 11px;
    bottom: 18px;
  }
  
  .header-search-extended i {
    color: white;
  }
  
  .banner-lg .title a {
    color: white;
  }
  
  .newsletter .btn-subscribe {
    background-color: #b07a09;
    border-color: #b07a09;
  }
  
  #scroll-top:hover,
  #scroll-top:focus {
    background-color: #b07a09;
  }
  
  .container.bannerad .banner-lg {
    background-position-y: center;
  }
  
  .intro-slide.banner-lg {
    background-position: unset;
  }
  
  @media screen and (max-width: 1199px) {
    .header-search-extended {
      margin-right: 0;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .popular .products [class*="col-"]:nth-child(5n) {
      border-right-width: 0.1rem;
    }
  }
  
  @media screen and (min-width: 992px) {
    .popular .products [class*="col-"]:nth-child(4n) {
      border-right-width: 0.1rem;
    }
  }
  
  @media screen and (min-width: 768px) {
    .popular .products [class*="col-"]:nth-child(3n) {
      border-right-width: 0.1rem;
    }
  }
  
  @media screen and (min-width: 992px) {
    .featured-back .tab-content [class*="col-"]:nth-child(3n) {
      border-right-width: 0.1rem;
    }
  }
  
  @media screen and (min-width: 576px) {
    .featured-back .tab-content [class*="col-"]:nth-child(2n) {
      border-right-width: 0.1rem;
    }
  }
  
  @media screen and (min-width: 576px) {
    .popular .products [class*="col-"]:nth-child(2n) {
      border-right-width: 0.1rem;
    }
  }
  
  .footer-copyright {
    color: #b07a09;
  }
  
  .banner-lg .action a:hover,
  .banner-lg .action a:focus {
    color: #fff;
  }
  
  .banner-container .banner-lg:hover .action a,
  .banner-container .banner-lg:focus .action a {
    color: #fff;
  }
  
  .menu.sf-arrows .sf-with-ul::after {
    font-family: 'molla';
    content: '\f110';
    position: absolute;
    left: -10px;
    top: 50%;
    display: block;
    font-size: 1rem;
    line-height: 1;
    margin-top: -.5rem;
    color: #b07a09;
  }



  .menu.sf-arrows .market.sf-with-ul::after {
    content: "\f110";
  }
  
  .main-nav {
    margin-right: auto !important;
    margin-left: auto;
  }
  
  .header-bottom .menu > li:first-of-type {
    margin-left: 0.8rem;
  }
  
  .header-bottom .menu > li:first-of-type {
    margin-right: 1rem;
  }
  

  .icon-bars{
      color: white;
  }
  .card-title a.collapsed {
    color: #000;
}
.menu{
  position: relative !important;
  left: 14% !important;
}
