@*@{
    Layout = null;
}
<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">


<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>سه شین</title>

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link type="image/x-icon" href="/Content/client/images/fav-icon.png" rel="icon">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/Content/client/css/xpoge.css">
    <link rel="stylesheet" type="text/css" href="/Content/client/css/responsive.css">
</head>
<body class="text-right">
    <!-- Start preloader -->
    <div id="preloader"></div>
    <!-- End preloader -->
    <!-- Search Screen start -->
    <div class="sidebar-search-wrap">
        <div class="sidebar-table-container">
            <div class="sidebar-align-container">
                <div class="search-closer left-side"></div>
                <div class="search-container">
                    <form method="get" id="search-form">
                        <input type="text" id="s" class="search-input" name="s" placeholder="جستجو کنید">
                    </form>
                    <span>محصول مورد نظر را جستجو کنید</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Screen end -->

    <div class="main">
        <!-- Header start -->
        <header id="header">
            <div class="container position-r">
                <div class="row m-0">
                    <div class="col-lg-3 col-md-4 col-4 p-0">
                        <div class="navbar-header">
                            <a class="navbar-brand page-scroll" href="/">
                                <img alt="" src="/Content/client/images/logo.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 col-8 p-0 position-initial">
                        <div class="left-side">
                            <button data-target=".navbar-collapse" data-toggle="collapse"
                                    class="navbar-toggle d-block d-lg-none d-xl-none" type="button">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="overlay"></div>
                            <div class="header-right-link">
                                <ul>
                                    <li class="search-box">
                                        <a href="#"><span></span></a>
                                    </li>
                                    <li class="account-icon account">
                                        <a href="#"><span></span></a>
                                        <div class="header-link-dropdown account-link-dropdown">
                                            <ul class="link-dropdown-list">
                                                <li>
                                                    <span class="dropdown-title">خوش آمدید</span>
                                                    <ul>
                                                        <li><a href="/Home/Login">ورود</a></li>
                                                        <li><a href="/Home/Register">ثبت نام</a></li>
                                                    </ul>
                                                </li>

                                            </ul>
                                        </div>
                                    </li>
                                    <li class="cart-icon">
                                        <a href="#" class="buy"> <span> <small class="cart-notification">0</small> </span> </a>
                                        <div class="cart-dropdown header-link-dropdown">
                                            <ul class="cart-list link-dropdown-list">
                                            </ul>
                                            <p class="cart-sub-totle">
                                                <span class="pull-right">مبلغ کل</span>
                                                <span class="pull-left">
                                                    <strong class="price-box cart-total-price">0 تومان</strong>
                                                </span>
                                            </p>
                                            <div class="clearfix"></div>
                                            <div class="mt-20">
                                                <a href="/Home/Wishlist" class="btn-color btn">سبدخرید</a>
                                                <a href="/Home/Checkout" class="btn-color btn left-side">پرداخت </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div id="menu" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li class="level">
                                        <a href="/" class="nav-link">صفحه اصلی</a>
                                    </li>
                                    <li class="level dropdown">
                                        <span class="opener plus"></span>
                                        <a href="/Home/Shop" class="nav-link">عطر زنانه</a>
                                        <div class="megamenu mobile-sub-menu">
                                            <div class="megamenu-inner-top">
                                                <ul class="sub-menu-level1">
                                                    <li class="level2 ">
                                                        <a href="/Home/Shop"><span>برند های شناخته شده</span></a>
                                                        <ul class="sub-menu-level2">
                                                            <li class="level3">
                                                                <a href="/Home/Shop">
                                                                    <span>■</span>Gucci
                                                                    EDP
                                                                </a>
                                                            </li>
                                                            <li class="level3">
                                                                <a href="/Home/Shop">
                                                                    <span>■</span>لانکوم مدل
                                                                    پوئم
                                                                </a>
                                                            </li>
                                                            <li class="level3">
                                                                <a href="/Home/Shop">
                                                                    <span>■</span>تام
                                                                    فورد
                                                                </a>
                                                            </li>
                                                            <li class="level3">
                                                                <a href="/Home/Shop">
                                                                    <span>■</span>سان شاین
                                                                </a>
                                                            </li>
                                                            <li class="level3">
                                                                <a href="/Home/Shop"><span>■</span>جورجیو</a>
                                                            </li>
                                                            <li class="level3">
                                                                <a href="/Home/Shop">
                                                                    <span>■</span>coco
                                                                    شنل
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </li>

                                                    <li class="level2 d-none d-lg-block">
                                                        <a href="#" class="m-0">
                                                            <img src="/Content/client/images/drop_banner3.jpg" alt="">
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="level dropdown">
                                        <span class="opener plus"></span>
                                        <a href="/Home/Shop" class="nav-link">عطر مردانه</a>
                                        <div class="megamenu mobile-sub-menu">
                                            <div class="megamenu-inner-top">
                                                <ul class="sub-menu-level1">
                                                    <li class="level2 ">
                                                        <a href="/Home/Shop"><span>برند های شناخته شده</span></a>
                                                        <ul class="sub-menu-level2">
                                                            <li class="level3">
                                                                <a href="/Home/Shop"><span>■</span>آکوا دی جیو</a>
                                                            </li>
                                                            <li class="level3">
                                                                <a href=/Home/Shop">
                                                                    <span>■</span>بلو د
                                                                    شنل
                                                                </a>
                                                            </li>
                                                            <li class="level3">
                                                                <a href="/Home/Shop">
                                                                    <span>■</span>پاکا
                                                                    رابن
                                                                </a>
                                                            </li>
                                                            <li class="level3">
                                                                <a href="/Home/Shop">
                                                                    <span>■</span>میشل
                                                                    کورس
                                                                </a>
                                                            </li>
                                                            <li class="level3">
                                                                <a href="/Home/Shop">
                                                                    <span>■</span>جورجیو
                                                                    آرمانی
                                                                </a>
                                                            </li>
                                                            <li class="level3">
                                                                <a href="/Home/Shop"><span>■</span>دیور</a>
                                                            </li>
                                                        </ul>
                                                    </li>

                                                    <li class="level2 d-none d-lg-block">
                                                        <a href="#" class="m-0">
                                                            <img src="/Content/client/images/drop_banner4.jpg" alt="">
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="level">
                                        <a href="/Home/Blog" class="nav-link">بلاگ</a>
                                    </li>
                                    <li class="level">
                                        <a href="/Home/Contact" class="nav-link">تماس با ما</a>
                                    </li>
                                    <li class="level">
                                        <a href="/Home/Guide" class="nav-link">راهنمایی آنلاین</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header end -->
        <!-- Cart contant start -->
        <div class="contant">
            <div id="banner-part" class="banner inner-banner">
                <div class="container">
                    <div class="bread-crumb-main">
                        <h1 class="banner-title">سبد خرید</h1>
                        <div class="breadcrumb">
                            <ul class="inline">
                                <li><a href="/">خانه</a></li>
                                <li>سبد خرید</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ptb-100">
                <div class="container">
                    <div class="cart-item-table commun-table">
                        <div class="table-responsive">
                            <table class="table border mb-0">
                                <thead>
                                    <tr>
                                        <th>تصویر</th>
                                        <th>نام محصول</th>
                                        <th>قیمت</th>
                                        <th>تعداد</th>

                                        <th>حذف</th>
                                    </tr>
                                </thead>
                                <tbody class="cartItemContainer">
                                    <tr class="cartRows">
                                        <td>
                                            <a href="/Home/Product">
                                                <div class="product-image">
                                                    <img alt="Eshoper" src="/Content/client/images/1.jpg">
                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            <div class="product-title">
                                                <a href="/Home/Product">عطر زنانه</a>
                                            </div>
                                        </td>
                                        <td>
                                            <ul>
                                                <li>
                                                    <div class="base-price price-box">
                                                        <span class="price">180،000 تومان</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>
                                            <div class="input-box">
                                                <select data-id="100" class="quantity_cart" name="quantity_cart">
                                                    <option selected="" value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                </select>
                                            </div>
                                        </td>

                                        <td>
                                            <a href="javascript:void(0)" class="btn small btn-color">
                                                <i title="Remove Item From Cart" data-id="100" class="fa fa-trash cart-remove-item"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="cartRows">
                                        <td>
                                            <a href="/Home/Product">
                                                <div class="product-image">
                                                    <img alt="Eshoper" src="/Content/client/images/2.jpg">
                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            <div class="product-title">
                                                <a href="/Home/Product">عطر مردانه</a>
                                            </div>
                                        </td>
                                        <td>
                                            <ul>
                                                <li>
                                                    <div class="base-price price-box">
                                                        <span class="price">140،000 تومان</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>
                                            <div class="input-box">
                                                <select data-id="100" class="quantity_cart" name="quantity_cart" class="cartqty">
                                                    <option selected="" value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                </select>
                                            </div>
                                        </td>

                                        <td>
                                            <a href="javascript:void(0)" class="btn small btn-color">
                                                <i title="Remove Item From Cart" data-id="100" class="fa fa-trash cart-remove-item"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="mb-30">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mt-30">
                                    <a href="/Home/Checkout" class="btn btn-color">
                                        <span>ادامه خرید</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mt-30 left-side float-none-sm">
                                    <a href="javascript:void(0)" class="btn btn-color">بروزرسانی سبد</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="mtb-30">
                        <div class="row">
                            <div class="col-md-6 mb-sm-20">
                                <div class="estimate">
                                    <div class="heading-part mb-20">
                                        <h3 class="sub-heading">انتخاب استان و شهر</h3>
                                    </div>
                                    <form class="full">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="input-box mb-20">
                                                    <select id="state_id" class="full">
                                                        <option selected="" value="1">انتخاب استان</option>
                                                        <option value="2">خراسان رضوی</option>
                                                        <option value="2">تهران</option>
                                                        <option value="2">خراسان شمالی</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-box mb-20">
                                                    <select id="city_id" class="full">
                                                        <option selected="" value="1">انتخاب شهر</option>
                                                        <option value="2">مشهد</option>
                                                        <option value="2">تهران</option>
                                                        <option value="2">بجنورد</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cart-total-table commun-table">
                                    <div class="table-responsive">
                                        <table class="table border">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">مبلغ کل</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>مبلغ کل</td>
                                                    <td>
                                                        <div class="price-box">
                                                            <span class="price pricecarttotal">320،000 تومان</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>هزینه ارسال</td>
                                                    <td>
                                                        <div class="price-box">
                                                            <span class="price">0</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><b>مبلغ قابل پرداخت</b></td>
                                                    <td>
                                                        <div class="price-box">
                                                            <span class="price pricecarttotal"><b>320،000 تومان</b></span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="mt-30">
                        <div class="row">
                            <div class="col-12">
                                <div class="left-side float-none-xs">
                                    <a href="/Home/Checkout" class="btn btn-color">ثبت نهایی</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cart contant end -->
        <!-- Footer section start -->
        <footer class="footer-part footer-border">
            <div class="container">
                <div class="footer-top ptb-100">
                    <div class="mb_-30">
                        <div class="row">
                            <div class="col-12 col-lg-3 col-md-6">
                                <div class="footer-about mb-sm-30">
                                    <div class="footer-logo">
                                        <a href="#">
                                            <img src="/Content/client/images/logo.png" alt="logo">
                                        </a>
                                    </div>
                                    <p class="footer-p">
                                        گالری سه شین با جمع آوری بهترین نوع عطر ها از بهترین برند ها با
                                        بهترین قیمت سعی در به دست آوردن هر چه بیشتر رضایت مشتریان خود دارد
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 col-md-6">
                                <div class="footer-static-block">
                                    <span class="opener plus"></span>
                                    <h3 class="head-three">اطلاعات</h3>
                                    <ul class="footer-menu footer-block-contant">
                                        <li><a href="#">تماس با ما</a></li>
                                        <li><a href="javascript:void(0)">برند ها</a></li>
                                        <li><a href="#">بلاگ</a></li>
                                        <li><a href="javascript:void(0)">شرایط و قوانین</a></li>
                                        <li><a href="javascript:void(0)">حریم خصوصی</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 col-md-6">
                                <div class="footer-static-block">
                                    <span class="opener plus"></span>
                                    <h3 class="head-three">حساب کاربری</h3>
                                    <ul class="footer-menu footer-block-contant">
                                        <li><a href="javascript:void(0)">تاریخچه سفارش ها</a></li>
                                        <li><a href="#">علاقه مندی ها</a></li>
                                        <li><a href="javascript:void(0)">تخفیف ها</a></li>
                                        <li><a href="javascript:void(0)">هدایای ویژه</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 col-md-6">
                                <div class="footer-static-block">
                                    <span class="opener plus"></span>
                                    <h3 class="head-three">تماس با ما</h3>
                                    <div class="contact-box footer-block-contant">
                                        <ul>
                                            <li>
                                                <div class="contact-thumb">
                                                    <img src="/Content/client/images/address-icon.svg" alt="">
                                                </div>
                                                <div class="contact-box-detail">
                                                    <p>
                                                        خیابان میرزای شیرازی جنوبی بین کوچه 20 و 22 پلاک 166 گالری سه شین
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="contact-thumb">
                                                    <img src="/Content/client/images/phone-icon.svg" alt="">
                                                </div>
                                                <div class="contact-box-detail">
                                                    <p>09381982109</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="contact-thumb">
                                                    <img src="/Content/client/images/mail-icon.svg" alt="">
                                                </div>
                                                <div class="contact-box-detail">
                                                    <p><a href="#">info@gmail.com</a></p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom align-center">
                    <div class="row">
                        <div class="col-12">
                            <div class="w-100">
                                <p class="mb-0">
                                    طراحی شده توسط<a href="https://www.spad.co/"
                                                     target="_blank" title="Spad"> اسپاد </a>
                                </p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="social-media">
                                <ul>
                                    <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Footer section end -->
    </div>

    <script src="/Content/client/js/jquery-3.4.1.min.js"></script>
    <script src="/Content/client/js/custom.js"></script>
    <script src="/Content/client/js/store.js"></script>

</body>



</html>*@
