@{
    ViewBag.Title = "ارتباط با ما";
}

    <div class="page-title text-center">
        <div class="block-parallax height40vh blend-bg text-center breadcrumb-back">
            <div class="page-title-wrap">
                <div class="page-title-inner">
                    <div class="page-title-align animate" data-animation="fadeIn" data-timeout="800">
                        <h1>@ViewBag.Title</h1>
                        <div class="page-title-description breadcrumbs">
                            <ul>
                                <li><a href="/">خانه</a><span>/</span></li>
                                <li>@ViewBag.Title</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  / .block-parallax -->
    </div>

    <div class="container">
        <div style="margin: 0 auto; text-align: center; padding: 200px 0">
            <h2>پیام شما با موفقیت ثبت شد</h2>
            <span class="sep-icon-before sep-center sep-solid"></span>
            <span class="icon-wrap"><i class="autora-icon-build"></i></span>
            <span class="sep-icon-after sep-center sep-solid"></span>
            <span class="class more-link"><a href="/" class="btn btn-medium btn-clr" style="margin: 1rem;">بازگشت به صفحه اصلی</a></span>
        </div><!-- /.col-md-12 -->
    </div>