@model List<SPAWedding.Core.Models.StaticContentDetail>


    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="item height100vh blend-bg" style="background-image: url(/content/client/img/NewImages/bg\ \(14\).jpg);">
                    <div class="slider-overlay slider-bg"></div>
                    <div class="slider-alignment">
                        <div class="v-align-center">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-offset-2 col-md-8">
                                        <div class="just-image-title-inner text-center">
                                            <div class="just-image-title animate" data-animation="fadeIn"
                                                 data-timeout="600">
                                                <span class="just-image-title-one">بهترین سالن زیبایی 1</span>
                                            </div>
                                            <div class="animate" data-animation="fadeIn" data-timeout="610">
                                                <div class="just-image-description">
                                                    هر آنچه باید درباره سالن زیبایی ما بدانید
                                                </div>
                                            </div>
                                            <div class="animate" data-animation="fadeIn" data-timeout="620">
                                                <p><a class="btn btn-large btn-clr" href="about.html">درباره ما</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-prev-icon " aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


@*<div class="container">

    <div class="row">
        <div class="col-lg-12 col-12">
            <div class="intro-slider-container mt-2">
                <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl"
                     data-owl-options='{
                                    "dots": true,
                                    "nav": true,
                                    "rtl": true,
                            "responsive": {
                                        "1200": {
                                            "nav": true,
                                            "dots": true
                                        }
                                    }
                                }'>
                    @foreach (var item in Model)
                    {
                        string link = "";
                        if (!String.IsNullOrEmpty(item.Link))
                        {
                            link = item.Link;
                        }

                        <div class="intro-slide banner-lg"
                             style="background-image: url(/Files/StaticContentImages/Image/@item.Image);">
                            <div class="intro">
                                <div class="title">
                                    <a>@item.Title</a>
                                </div>
                                <div class="content">
                                    <h3>@Html.Raw(item.ShortDescription)</h3>
                                    <h4>@Html.Raw(item.Description)</h4>
                                </div>
                                <div class="action">
                                    <a href="@item.Link">خرید</a>
                                </div>
                            </div>
                        </div><!-- End .intro-slide -->
                    }


                </div><!-- End .intro-slider owl-carousel owl-simple -->

                <span class="slider-loader"></span><!-- End .slider-loader -->
            </div><!-- End .intro-slider-container -->
        </div>
    </div>

</div>*@

