@model List<SPAWedding.Web.ViewModels.TestimonialViewModel>

@if (Model.Count > 0)
{
    <section class="testimonial-section position-r ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="heading-part text-center mb-30 mb-sm-20">
                        <h2 class="main_title">نظرات مشتریان</h2>
                    </div>
                </div>
            </div>
            <div class="testimonial-slider owl-carousel position-initial">
                @foreach (var item in Model)
                {
                    <div class="item testimonial-main">
                        <div class="client-img-main">
                            <div class="client-img">
                                <img alt="@item.Name" src="/Files/TestimonialImages/@item.Image">
                            </div>
                            <div class="quote-img">
                                <img src="/Content/client/images/quote-img.png" alt="quote">
                            </div>
                        </div>
                        <div class="clear-fix"></div>
                        <div class="client-detail">
                            <p>
                                @item.Description
                            </p>
                            <h4 class="sub-title client-title">- @item.Name - </h4>
                            <div class="designation"> @item.PersianDate</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>


}


