#options-setting{
  position:fixed; 
  width:240px;  
  padding: 10px 20px; 
  top:160px; 
  left:-242px; 
  z-index:1000;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  transition: 0.3s all ease;
  border-radius: 0 3px 3px 0;
  font-family: 'Open sans', sans-serif;
}

#options-setting.move-right{
  left:0px;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

#setting-button-wrapper{
  position:absolute; 
  left:240px; 
}

.swatches {
  display:inline-block; 
  height:30px; 
  width:94px; 
  margin:2px;
  text-align: center;
  font-size: 13px;
  line-height: 2.1;
  float: left;
  color: #fff;
  border-radius: 3px;
}

.swatches-small {
  display:inline-block; 
  height:30px; 
  width:45px; 
  margin:2px;
  text-align: center;
  font-size: 14px;
  line-height: 2.2;
  float: left;
  color: #fff;
  border-radius: 3px;
}

.swatches-small:hover, .swatches:hover {
  opacity: .8;
}

.setting-item {
  position: relative;
}

.color-dark a span {
  color: #696767;
  border: 1px solid #ddd;
  background-color: rgb(240,240,240);
}


#options-setting{
  background-color: #fff;
}

.setting-icon {
  background-color: #fff;
  color: #696767;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  padding: 18px 10px;
  cursor: pointer;
}

p.setting {
  margin: 10px 2px 9px 2px;
  font-size: 13px;
}

span.dapper {
  background-color: rgb(145,183,70);
}

span.magical {
  background-color: rgb(97,45,127);
}

span.breezy {
  background-color: rgb(1,137,185);
}

span.eclectic {
  background-color: rgb(247,160,106);
}

span.ashwood {
  background-color: rgb(172,155,137);
}

span.sassy {
  background-color: rgb(173,12,37);
}

span.artistic {
  background-color: rgb(143,159,182);
}

span.gentle {
  background-color: rgb(255,214,92);
}

span.northern {
  background-color: rgb(83,44,13);
}

span.earthy {
  background-color: rgb(238,77,155);
}

span.zesty {
  background-color: rgb(237,104,15);
}

span.timeless {
  background-color: rgb(185,222,210);
}
