@*@model List<MaryamRahimiFard.Web.ViewModels.LatestArticlesViewModel>


<div class="related-posts">
    <h3 class="title">پست های مرتبط</h3><!-- End .title -->

    <div class="owl-carousel owl-simple" data-toggle="owl" data-owl-options='{
                                        "nav": false,
                                        "dots": true,
                                        "margin": 20,
                                        "loop": false,
                                        "rtl": true,
                            "responsive": {
                                            "0": {
                                                "items":1
                                            },
                                            "480": {
                                                "items":2
                                            },
                                            "768": {
                                                "items":3
                                            }
                                        }
                                    }'>
        @foreach (var article in Model)
        {
            <article class="entry entry-grid">
                <figure class="entry-media">
                    <a href="~/blog/article/@article.Id/@article.Title.Replace(' ', '-')">
                        <img src="/Files/ArticleImages/Thumb/@article.Image"
                             alt="@article.Title">
                    </a>
                </figure><!-- End .entry-media -->

                <div class="entry-body">
                    <div class="entry-meta justify-content-start">
                        <a href="#">@article.PersianDate</a>

                    </div><!-- End .entry-meta -->

                    <h2 class="entry-title">
                        <a href="~/blog/article/@article.Id/@article.Title.Replace(' ', '-')">@article.Title</a>
                    </h2><!-- End .entry-title -->

                    <div class="entry-cats">
                        <a href="~/Blog?category=@article.Category.Id">@article.Category.Title</a>

                    </div><!-- End .entry-cats -->
                </div><!-- End .entry-body -->
            </article><!-- End .entry -->
        }
    </div><!-- End .owl-carousel -->
</div><!-- End .related-posts -->*@
