@model List<SPAWedding.Web.ViewModels.LatestArticlesViewModel>

<div class="widget">
    <h3 class="widget-title">آخرین اخبار</h3><!-- End .widget-title -->

    <ul class="posts-list">
        @foreach (var item in Model)
        {
            <li>
                <figure>
                    <a href="/Blog/Article/@item.Id/@item.Title">
                        <img src="~/Files/ArticleImages/Thumb/@item.Image" alt="@item.Title">
                    </a>
                </figure>

                <div>
                    <span>@item.PersianDate</span>
                    <h4><a href="/Blog/Article/@item.Id/@item.Title">@item.Title</a></h4>
                </div>
            </li>
        }
    </ul><!-- End .posts-list -->
</div><!-- End .widget -->
