
@{
    ViewBag.Title = "AddEmailSubscription";
}


<div class="spacer"></div>

@if(ViewBag.Added)
{
    <div class="container">
        <div class="subscribe text-center">
            <div class="row">
                <div class="col-md-12 intro" style="margin: 0 auto; text-align: center; padding: 200px 0">

                    <h2>ایمیل شما با موفقیت در سیستم ثبت شد</h2>
                    <h3>با تشکر از شما</h3>
                    <div style="font-size: 20px;">
                        <br />
                        <a href="/">بازگشت به صفحه اصلی</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{<div class="container">
    <div class="subscribe text-center">
        <div class="row">
            <div class="col-md-12 intro" style="margin: 0 auto; text-align: center; padding: 200px 0">
                <p style="font-size: 20px;">خطا!</p>
                <h2>اطلاعات وارد شده معتبر نمی باشد</h2>
                <div style="font-size: 20px;">
                    <br />
                    <a href="/">باز گشت به صفحه اصلی</a>
                </div>
            </div>
        </div>
        </div>
 </div>
 }

