@*@model MaryamRahimiFard.Core.Models.StaticContentDetail

<div class="widget widget-banner-sidebar">
    <div class="banner-sidebar-title">@Model.ShortDescription</div>
    <!-- End .ad-title -->

    <div class="banner-sidebar banner-overlay">
        <a href="@Model.Link">
            <img src="/Files/StaticContentImages/Image/@Model.Image" alt="@Model.Title">
        </a>
    </div><!-- End .banner-ad -->
</div><!-- End .widget -->*@
